<div class="content d-flex flex-column justify-content-between">
    <div class="container d-flex justify-content-between">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Hi, I'm James Cornel</h5>
                <h6 class="card-subtitle mb-2 text-muted">I'm a Developer</h6>
                <img class="card-img-right" [src]="imgSource" alt="Card image cap" height="400" width="250">
            </div>
            <div class="card-body text-center">
                Graduate from National University with a degree in BS Computer Science Batch 2019
            </div>
        </div>
        <div ngbAccordion style="width: 75%;">
            <div ngbAccordionItem="first" #first="ngbAccordionItem" [collapsed]="false">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton class="fw-bolder">Skills</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><b>Programming & Scripting:</b> JavaScript (Node.js,), C#, PHP, Java</li>
                                    <li class="list-group-item"><b>Frameworks & Libraries:</b> Angular, React Native, Laravel, .Net Core, LINQ, MOQ, jQuery, Redux toolkit, Redux Saga</li>
                                    <li class="list-group-item"><b>Web Technologies:</b> HTML5, CSS3, RESTful APIs, AJAX, JSON
                                    </li>
                                    <li class="list-group-item"><b>Cloud & DevOps:</b> AWS (Lambda, S3, API Gateway)</li>
                                    <li class="list-group-item"><b>Web & APIs:</b> HTML5, CSS3, RESTful APIs, AJAX, JSON</li>
                                    <li class="list-group-item"><b>Database Management:</b> MySQL, PostgreSQL, PhpMyadmin</li>
                                    <li class="list-group-item"><b>Tools:</b> Git, Visual Studio Code, Visual Studio, Github Copilot, Cursor IDE</li>
                                    <li class="list-group-item"><b>Methodologies:</b> Agile, Scrum, Kanban, User Stories</li>
                                    <li class="list-group-item"><b>Code Practices:</b> SOLID, DRY, Object-Oriented Programming(OOP)</li>
                                    <li class="list-group-item"><b>Soft Skills:</b> Problem-solving, Analytical Thinking, Communication, Team Collaboration</li>
                                </ul>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>